html{
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}


.women-filter{
    position: absolute;
    top: 80px;
    left: 10%;
    height: 80%;
    width: 20%;
    border-right: 1px;
    border-style: solid;
}

.women-product-container{
    position: absolute;
    top: 80px;
    left: 31%;
    height: 80%;
    width: 65%;
}

.women-product-container .h3{
    text-align: center;

}

.filter-inner-box{
  position: relative;
  top: 100px;
  left: 0px;
  height: 75px;
  width: 30px;
}

